*{
    box-sizing: border-box;
}


body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f5fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
input{
    border-radius: 2px;
    border-style: hidden;
    background-color: white;
    height: 50px;
    width: auto;
    border-radius: 6px;
    color: #e0e1e9;

}


button{
    cursor: pointer;
    background-color: yellowgreen;

}
button:hover{
    border: 0px;
    height: 40px;
    width: auto;
    padding: 5px;
    color: rgba(22, 188, 49, 1);
}