@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  font-size: 50px;
  color: #088178;
  margin: 0;
  font-weight: 900;
}
h2 {
  font-size: 46px;
  margin: 0;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #088178;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  padding: 40px 40px;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  align-items: center;
}
#close{
  display: none;
}
#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-position: right 0 top 25%;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  font-weight: 900;
  font-size: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  display: inline-block;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  pad: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  counter-reset: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  border: 2px solid #465b52;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 25px;
  right: 15px;
  border-radius: 50%;
  color: #088178;
  font-size: 20px;
  padding-top: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: rgba(234, 89, 101, 0.987);
}
#banner button:hover {
  color: #fff;
  background-color: #088178;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("img/banner/b17.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  max-width: 580px;
  padding-left: 30px;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #000;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}
#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}
#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("img/banner/b7.jpg");
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  max-width: 30%;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
#banner3 .banner-box2 {
  background-image: url("img/banner/b18.jpg");
}
#banner3 .banner-box3 {
  background-image: url("img//banner/b4.jpg");
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #04ac;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  font-size: 20px;
}
footer h4 {
  font-size: 14px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  color: #222;
  margin: 0;
}
.copyright {
  width: 100%;
}
.copyright p {
  text-align: center;
  font-size: 10px;
}

footer .follow {
  margin-top: 10px;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}

@media (max-width: 799px) {
  .section-p1{
    padding:  40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #navbar.active {
    right: 0;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    cursor: pointer;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #close{
    display: initial;
    }
 #hero{
  height: 70vh;
  padding: 0 80px;
  background-position: top 30% right 30%;
 }
 #feature{
  justify-content: center;
 }
 #feature .fe-box{
  margin: 15px 15px ;
 }
 #product1 .pro-container{
  justify-content: center;
 }
 #product1 .pro{
  margin: 15px;
 }
 #banner{
  height: 20vh;
 }
 #sm-banner .banner-box{
  min-width: 100%;
  height: 30vh;
 }
 #banner3{
  padding: 0 40px;
 }
 #banner3 .banner-box{
  min-width: 28%;
 }
 #newsletter .form{
  width: 70%;
 }
}
@media (max-width:477px) {
  #header{
    padding: 10px 30px;
  }
  h2{
    font-size: 32px;
  }
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  h1{
    font-size: 38px;
  }
  .section-p1{
    padding: 20px;
  }

  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
  #mobile #bar{
    margin-left:10px;
  }
  #sm-banner .banner-box{
    height: 40vh;
  }
  #sm-banner .banner-box2{
    margin-top: 20px;
  }
  #banner3{
    padding: 0 20px;
  }
  #banner3 .banner-box{
    width: 100%;
  }
  #newsletter{
    padding: 40px 20px;
  }
  #newsletter .form{
    width: 100%;
  }
  footer .copyright{
    text-align: start;
  }
}

/*shop*/
#page-header{
  background-image: url('img/banner/b1.jpg');
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2{
  color: white;
}
#pagination{
  text-align: center;

}
#pagination a{
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i {
  font-size: 14px;
}
/* single product */
#prodetails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-group{
display: flex;
justify-content: space-evenly;
}
