@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg{
    background: url('https://i.pinimg.com/736x/48/cb/3f/48cb3fa2718660a78a7b0f16ed406f95--aqua-rose-turquoise-rose.jpg') no-repeat center center/cover;
    /* position: absolute; */
    top:30px;
    left: 30px;
    z-index: -1;
    height: calc(100vh+60px);
    width: calc(100vw+60px);
    filter: blur(10px);
    background-size: cover;
    object-fit: cover;

}
.text-load{
    font-size: 50px;
    /* color: #fff; */
}